<div class="container px-4 py-8 text-textPrimary rounded-lg justify-center">
    <h2 class="text-4xl font-bold text-center text-primary mb-4">
        Welcome to GladLogs
    </h2>

    <div class="space-y-4 mb-8">

        <div class="grid grid-cols-1 grid-rows-4 md:grid-cols-2 md:grid-rows-2 gap-4 w-full">

            <app-card class="h-full justify-self-center hover:border-gradient hover:border-transparent hover:animate-border transition-colors duration-300 ">
                <app-card-header>
                    <app-card-title>About GladLogs</app-card-title>
                </app-card-header>
                <app-card-content>
                    <p class="text-lg">
                        GladLogs is a simple application that collects and stores twitch messages from various channels.
                    </p>
                </app-card-content>
            </app-card>

            <app-card class="h-full justify-self-center hover:border-gradient hover:border-transparent hover:animate-border transition-colors duration-300 ">
                <app-card-header>
                    <app-card-title>For Streamers</app-card-title>
                </app-card-header>
                <app-card-content>
                    <p class="text-lg">
                        If you are a streamer, and you want to be included in the list of channels that I collect
                        messages from,
                        please contact me at
                        <a class="text-blue-500 underline"
                            href="mailto:gladlogs@assasinos.live">Gladlogs&#64;assasinos.live</a>.
                    </p>
                </app-card-content>
            </app-card>

            <app-card class="h-full justify-self-center hover:border-gradient hover:border-transparent hover:animate-border transition-colors duration-300 ">
                <app-card-header>
                    <app-card-title>For Developers</app-card-title>
                </app-card-header>
                <app-card-content>
                    <p class="text-lg">
                        If you are a developer, and you want to contribute to the project, you can find the source code
                        on
                        <a class="text-blue-500 underline" href="https://github.com/assasinos/GladLogsApi">GitHub</a>.
                    </p>
                </app-card-content>
            </app-card>


            <app-card class="h-full justify-self-center hover:border-gradient hover:border-transparent hover:animate-border transition-colors duration-300 ">
                <app-card-header>
                    <app-card-title>Compliance with EU Regulations</app-card-title>
                </app-card-header>
                <app-card-content>
                    <p class="text-lg">
                        I comply with EU rules and regulations.
                        All the data I store is accessible on this page, and you can request its removal at any time.
                        If you have any concerns or wish to make a request, please feel free to contact me directly via
                        <a class="text-blue-500 underline"
                        href="mailto:gladlogs@assasinos.live">Gladlogs&#64;assasinos.live</a>.
                    </p>
                </app-card-content>
            </app-card>

        </div>
    </div>
</div>